<div class="parent">
  <mat-card>
    <form [formGroup]="form">
      <div>
        <mat-form-field>
          <mat-label>Username</mat-label>
          <input id="log" matInput formControlName="login">
          <mat-error id="logReq" *ngIf="_login?.hasError('required') && _login?.touched">
            Это <strong>обязательное</strong> поле
          </mat-error>
        </mat-form-field>
      </div>
      <div>
        <mat-form-field>
          <mat-label>Password</mat-label>
          <input id="pas" type="password" matInput formControlName="password">
          <mat-error id="pasReq" *ngIf="_password?.hasError('required') && _password?.touched">
            Это <strong>обязательное</strong> поле
          </mat-error>
          <mat-error id="pasLen" *ngIf="_password?.hasError('minlength')">
            Минимум 6 символов
          </mat-error>
        </mat-form-field>
      </div>

      <button mat-raised-button [disabled]="form.invalid">Login</button>
    </form>
  </mat-card>
</div>
